<launch>
  <arg name="local_planner"          default="dwa"             doc="Local planner can be either dwa, eband, base, teb or pose" />
  <arg name="prefix" default="" />
  <arg name="namespace" default="$(arg prefix)" doc="Namespace to push all topics into."/>

  <group if="$(eval namespace != '')" ns="$(arg namespace)">
    <include file="$(find mir100_navigation)/launch/move_base.xml">
      <arg name="local_planner" value="$(arg local_planner)"/>
      <arg name="prefix" value="$(arg prefix)" />
    </include>
  </group>

  <!-- Duplicate of the above in case namespace is empty. This is necessary to
       avoid the "<group> tag has an empty 'ns' attribute" parsing error. -->
  <group unless="$(eval namespace != '')">
    <include file="$(find mir100_navigation)/launch/move_base.xml">
      <arg name="local_planner" value="$(arg local_planner)"/>
      <arg name="prefix" value="$(arg prefix)" />
    </include>
  </group>
</launch>
